
main.pageOut {
    animation-duration: 200ms;
    animation-name: fadeOut;
}

main.pageIn {
    animation-duration: 200ms;
    animation-name: fadeIn;
}

@keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}